<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          package="com.mad.madproject">

    <uses-permission android:name="android.permission.INTERNET"/>
    <!-- Allows the API to check the connection status in order to determine whether data can be downloaded. -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>

    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">

        <!-- specify the api key -->
        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyCs3VfeeBgLZv5OLamZWMgqPHDI8IbTkFA"/>
        <!-- specify google play services version -->
        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version"/>

        <activity android:name=".login.LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
        <activity android:name=".register.RegisterActivity"/>
        <activity android:name=".activity.MainActivity"/>
        <activity android:name=".forgetpassword.ForgetPasswordActivity"/>
        <activity
            android:name=".activity.SearchCityActivity"
            android:parentActivityName=".activity.MainActivity">
        </activity>
        <activity
            android:name=".activity.AddTripActivity"
            android:parentActivityName=".activity.SearchCityActivity">
        </activity>
        <activity
            android:name=".activity.ChooseAccommodationActivity"
            android:parentActivityName=".activity.AddTripActivity">
        </activity>
        <activity
            android:name=".activity.ViewItineraryActivity"
            android:label="@string/title_activity_view_itinerary"
            android:parentActivityName=".activity.MainActivity"
            android:theme="@style/AppTheme.NoActionBar">
        </activity>
    </application>

</manifest>